extends layout

block content
    div.container
        h1 #{title}
        if data.length === 0 || data === undefined
            h2 There are no results.
        else
            div.result-content
                each artist in data
                    a.card(href="/search/artists/"+artist.id)
                        div
                            if artist.images.length > 0
                                img.card-image(src=artist.images[0].url)
                            else
                                img.card-image(src="/images/microphone.png")
                        div
                            div.card-heading #{artist.name}
                            div.card-subheading
                                div Popularity: #{artist.popularity}
                                div Followers: #{artist.followers.total}
                            div.card-genre
                                each genre in artist.genres
                                    div.pill.bg-blue
                                        span #{genre}

                    
