extends layout

block content
    div.container
        div.details-card
            div
                if track.album.images.length > 0
                    img.image-big(src=track.album.images[0].url)
                else
                    img.image-big(src="/images/music-vinyl-record.png")
            div.text-center
                h1 #{track.name}
                a(href=track.external_urls.spotify target="_blank")
                    div.spotify-pill 
                        img.spotify-icon.mr-1(src="/images/spotify.png")
                        span.ml-1 Check Track on Spotify
                div.mb-1
                    span.mr-1 Popularity: #{track.popularity}
                    span.ml-l Duration: #{Math.floor(track.duration_ms / 60000)} mins #{Math.round((track.duration_ms % 60000)/ 1000)} secs
                div.track-artists
                    span Album:
                    div.flex.items-center.mr-1.mb-1
                        a.card-small(href="/search/albums/"+track.album.id)
                            if track.album.images.length > 0
                                img.image-small(src=track.album.images[0].url)
                            else
                                img.image-small(src="/images/music-vinyl-record.png")
                            span #{track.album.name}
                div.track-artists
                    if track.album.artists.length === 1
                        span Artist: 
                    else
                        span Artists:
                    each artist in artists
                        div.flex.items-center.mr-1.mb-1
                            a.card-small(href="/search/artists/"+artist.id)
                                if artist.images.length > 0
                                    img.image-small(src=artist.images[0].url)
                                else
                                    img.image-small(src="/images/microphone.png")
                                span #{artist.name}
        div.extra-info-card
            h3 Features
            div.flex.justify-center
                div.mr-1
                    div.mb-1 Danceability: #{features.danceability}
                    div.mb-1 Energy: #{features.energy}
                    div.mb-1 Key: #{features.key}
                    div.mb-1 Loudness: #{features.loudness}
                    div.mb-1 Mode: #{features.mode}
                    div.mb-1 Speechiness: #{features.speechiness}
                div.ml-1
                    div.mb-1 Acousticness: #{features.acousticness}
                    div.mb-1 Instrumentalness: #{features.instrumentalness}
                    div.mb-1 Liveness: #{features.liveness}
                    div.mb-1 Valence: #{features.valence}
                    div.mb-1 Tempo: #{features.tempo}